* {
    margin: 0;
    font-family: sans-serif;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

header p {
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    color: whitesmoke;
}

header nav a{
    margin-left: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
    text-transform: capitalize;
}

main #awesome {
    background-color: #1F2937;
    display: flex;
    padding: 100px 200px;
    justify-content: space-between;
}

main #awesome #awesome-text {
    flex: 1;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

main #awesome #awesome-text h1 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 40px;
}

main #awesome #awesome-text p {
    color: lightgray;
    font-size: 16px;

}

main #awesome #awesome-text button {
    background-color: #3882F6;
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px 40px;
}

main #awesome #awesome-img {
    flex: 1;
    height: 400px;
    background-color: rgb(156, 156, 156);
    color: whitesmoke;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #awesome #awesome-img img{
    
}

main #random-information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 100px;
    font-size: 30px;
}

main #random-information h2 {
    color: #1F2937;
    font-size: 30px;
}

main #random-information #illustrations {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

main #random-information #illustrations .illustration {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 200px;
    height: 300px;
}

main #random-information #illustrations .illustration .illustration-img {
    flex: 2;
    border: solid #3882F6 4px;
    border-radius: 10px;
}

main #random-information #illustrations .illustration .illustration-img img {
    
}

main #random-information #illustrations .illustration p {
    flex: 1;
    text-align: center;
    font-size: 16px;
}

main #inspiring {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(238, 237, 237);
    padding: 100px 300px;
}

main #inspiring #inspiring-quote {
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: flex-start;
}

main #inspiring #inspiring-quote p {
    text-align: justify;
    line-height: 2;
    font-size: 18px;
    font-style: italic;
}

main #inspiring #inspiring-quote #quote-author {
    font-size: 16px;
    font-style: normal;
    font-weight: bold;
    margin-left: auto;
}

main #action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px 200px;
}

main #action #action-content {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #3882F6;
    border-radius: 10px;
    padding: 50px 100px;
}

main #action #action-content #action-text #action-title {
    font-size: 18px;
    color: whitesmoke;
}

main #action #action-content #action-text #action-description {
    font-size: 16px;
    color: whitesmoke;
}

main #action #action-content #action-button button {
    font-size: 16px;
    background-color: #3882F6;
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px 40px;
    border: solid whitesmoke 1px;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 400px;
    background-color: #1F2937;
    color: whitesmoke;
    font-size: 16px;
}