* {
    margin: 0;
}

header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 200px;
}

header p {
    font-size: 20px;
    color: whitesmoke;
}

header nav a{
    margin-left: 20px;
    text-decoration: none;
    color: whitesmoke;
    font-size: 16px;
}

main #awesome {
    background-color: #1F2937;
    display: flex;
    padding: 100px 200px;
    justify-content: space-between;
}

main #awesome #awesome-text {
    flex: 1;
    margin-right: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
    gap: 20px;
}

main #awesome #awesome-text h1 {
    color: whitesmoke;
    font-weight: bold;
    font-size: 40px;
}

main #awesome #awesome-text p {
    color: lightgray;
    font-size: 16px;

}

main #awesome #awesome-text button {
    background-color: #3882F6;
    color: whitesmoke;
    border-radius: 10px;
    padding: 10px 40px;
}

main #awesome #awesome-img {
    flex: 2;
    height: 250px;
    background-color: gray;
    color: whitesmoke;
    font-size: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main #random-information {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 50px;
    padding: 50px 200px 100px 200px; 
}

main #random-information #illustrations {
    display: flex;
    flex-direction: row;
    gap: 100px;
    
}

main #random-information #illustrations .illustration {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 20px;
    width: 200px;
    height: 300px;
}

main #random-information #illustrations .illustration .illustration-img {
    flex: 2;
    border: solid #3882F6 4px;
    border-radius: 10px;
}

main #random-information #illustrations .illustration p {
    flex: 1;
    text-align: center;
    font-size: 16px;
}